*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'oppins',sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}
.navbar-links a:hover{
    text-decoration: underline;
    color: #1D232C;
}
.navbar-menu-toggle{
    display: none;
    margin: 5px;
}
/*side navbar*/
.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position:fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
    
    
}

.side-navbar-link{
    margin-bottom: 30px;
}
.side-navbar-link a{
    text-decoration: none;
    color: white;
}
.side-navbar-link a:hover{
    text-decoration: underline;
}
.navbar-menu-toggle{
        display: none;
    }

/*Header*/
.Header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
 .header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
 }
 .service{
    padding: 20px;
 }
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.service-container-2 div{
    background-color: rgb(163, 165, 167);
    border-radius: 5px;
    padding: 5px;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 15px;
    border:none;

}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news input{
    padding: 12px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
    font-display: 20px;
}
.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: azure;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black 3px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;

}
.product-search input{
    width: 100%;
    border: none;
    
    background-color: transparent;
}
.product-search input:focus{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    width: 80%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

/*media- Query*/
@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
     .header-image{
    display: none;
 }
 .service-container-1{
    display: none;
 }
.service-container-2{
    flex-direction: column;
}
}